body {
    background-image: url(img/squares.jpeg)
}

#threetabs {
    display:flex;
    justify-content: flex-end;
    padding: 10px;
    margin: 23px;
    
}

h1{
    float: none;
    clear: right;
    background-color:teal;
    color:white;
    padding:10px;
    width: 220px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.container{
    padding:10px;
    color:#777777;
    width: 700px;
    border-color: black;
    height: 800px;
    margin: auto;
    border-style: dashed
}


h2{
    color:teal;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

img{
    width:200px;
    height:200px;
    margin-left: 14px;
    display: inline-block;

}

.MyDog{
    
}



